<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
    {{data.content}}
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center mt-3">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" data-e2e="proceed-delete-session">Confirm</button>
</mat-dialog-actions>
