<div class="container">
    <div class="row mt-3 no-gutters">
        <div class="col-12">
            <h3>Your Bots</h3>
        </div>
        <div class="col-12 col-md-6 col-xl-4 p-0 px-2 pb-2">
            <button mat-button class="m-0 p-0 w-100" (click)="addNewBot.next()" data-e2e="add-new-bot">
                <mat-card>
                    <mat-card-header>
                        <img mat-card-avatar
                             src="https://upload.wikimedia.org/wikipedia/commons/6/62/Twemoji2_1f916.svg">
                        <mat-card-title>New Bot</mat-card-title>
                        <mat-card-subtitle>Register your next bot</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                        <small>Twitter [<a href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>], <a
                            href="https://commons.wikimedia.org/wiki/File:Twemoji2_1f916.svg">via Wikimedia Commons</a>
                        </small>
                    </mat-card-footer>
                </mat-card>
            </button>
        </div>
        <div class="col-12 col-md-6 col-xl-4 p-0 px-2 pb-2" *ngFor="let bot of myBots$ | async">
            <button mat-button class="m-0 p-0 w-100" (click)="manageBot.next(bot.id)">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{bot.name}}</mat-card-title>
                        <mat-card-subtitle>{{bot.description}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </button>
        </div>
    </div>
</div>
