<cchat-bot-dashboard-header (backButtonClicked)="showAside()"></cchat-bot-dashboard-header>


<cchat-bot-dashboard-all-bots></cchat-bot-dashboard-all-bots>

<hr>

<cchat-bot-dashboard-my-bots (addNewBot)="openRegisterDialog()" (manageBot)="openManageBotDialog($event)"></cchat-bot-dashboard-my-bots>
