<mat-dialog-content>
<p>
  User can add a name here and drop files. Sticker names are to be defined. maybe filename for simplicity.
</p>
    <mat-form-field>
        <input matInput [(ngModel)]="newStickerPackName" placeholder="Name of the Stickerpack">
    </mat-form-field>
        <file-drop dropZoneLabel="Drop files (svg) here" (onFileDrop)="dropped($event)" accept="svg">

        </file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i=index">
                <td>{{ item.emoji_id }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="saveAndClose()">Save</button>
    <button mat-button (click)="this.dialogRef.close(false)">Cancel</button>
</mat-dialog-actions>
