$component-active-bg: steelblue;
$list-group-border-radius: 0;

@font-face {
    font-family: 'twitterEmoji';
    src: url("assets/TwemojiMozilla.ttf");
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "twitterEmoji", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins";
@import "~@ctrl/ngx-emoji-mart/picker";

$container-max-widths: (
    // The sizes for sm/md are just workarounds so that the compiler doesn't show a warning
    sm: 1138px,
    md: 1139px,
    lg: 1140px,
    xl: 1700px
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 809px,
    lg: 992px,
    xl: 1200px
);

$theme-colors: (
    "primary-light": theme-color-level("primary", -11),
    "highlight": steelblue,
);

//:export {
//    breakpoints: $grid-breakpoints;
//}

@import '~bootstrap-scss/bootstrap';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body {
    width: 100%;
    height: 100%;
}


/*
 * Make breakpoints available to Angular
 * Taken from https://stackoverflow.com/questions/40418804/access-sass-values-colors-from-variables-scss-in-typescript-angular2-ionic2
 */

$prefix: "--bp-"; //Prefix string for custom CSS properties

//Merges a variable name with $prefix
@function custom-property-name($name) {
    @return $prefix + $name;
}

// Defines a custom property
@mixin define-custom-property($name, $value) {
    #{custom-property-name($name)}: $value;
}

body {
    // Append pre-defined breakpoints in $grid-breakpoints:
    @each $name, $value in $grid-breakpoints {
        @include define-custom-property($name, $value);
    }
}

.chat-list-entry {
    display: flex;

    .icon {
        flex: 0 0 4rem;
        min-width: 2rem;
        max-width: 5rem;
        margin-right: .4rem;

        &-container {
            width: 100%;
            position: relative;
            padding-top: 100%;

            .image {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                border-radius: 100rem;
                background: #eee;
            }
        }
    }

    .info {
        flex: 1 1 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .last-msg {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .time-right {
            margin-left: auto;
        }
    }
}

.text-small {
    font-size: 0.75rem;
}

.active .text-muted {
    color: lightgrey !important;
}

.cursor {
    &-pointer {
        cursor: pointer !important;
    }
}

main {
    overflow: hidden;
}

button:focus {
    outline: none;
}


/*
 * Adds classes for each breakpoint to set the positioning (e.g. position-md-absolute).
 */
@each $position in $positions {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            .position-#{$breakpoint}-#{$position} {
                position: $position !important;
            }
        }
    }
}
