<h1 mat-dialog-title>Register your bot</h1>
<form mat-dialog-content [formGroup]="regForm" (ngSubmit)="register()" data-e2e="register-bot-form">
    <mat-form-field class="w-100 mb-2">
        <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher" >
        <mat-error *ngIf="name.hasError('required')">Please enter a name</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mb-2">
        <input matInput placeholder="Description" formControlName="description" [errorStateMatcher]="matcher">
        <mat-hint>Make it short</mat-hint>
    </mat-form-field>
    <div class="web-hook-group mb-2">
        <mat-form-field class="bot-protocol">
            <mat-select formControlName="webHookProtocol">
                <mat-option value="https://">https://</mat-option>
                <mat-option value="http://">http://</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="bot-web-hook-url" floatLabel="always">
            <mat-label>Bot web hook root</mat-label>
            <input matInput placeholder="example.com/api/bots/" formControlName="webHook" [errorStateMatcher]="matcher">
            <mat-error *ngIf="webHook.hasError('required')">Whats your bot's URL?</mat-error>
            <mat-error *ngIf="webHook.hasError('pattern')">Please enter a valid URL</mat-error>
        </mat-form-field>
    </div>
    <mat-checkbox class="mb-2" color="primary" formControlName="isPublic">Is this bot public?</mat-checkbox>
    <div class="alert alert-danger" *ngIf="regError">
        {{regError}}
    </div>
    <div>
        <button mat-button type="submit" data-e2e="register-button">Register</button>
        <button mat-button matDialogClose data-e2e="cancel-register-button">Cancel</button>
    </div>
</form>
