<div class="main">
    <mat-card class="shadow-lg confirm-login-card">
        <mat-card-header>
            <mat-card-title>Confirm Login on Additional Device</mat-card-title>
        </mat-card-header>
        <mat-card-content class="login-content">
            <p>We currently do not support the possibility of loging in from multiple devices. If you proceed, you might
                experience issues when communicating with other users and you will no longer be able to send messages
                from devices you have used previously.</p>
            <mat-card-actions class="d-flex justify-content-between">
                <button mat-raised-button (click)="decline()" >Decline</button>
                <button mat-raised-button color="warn" (click)="procceed()" >Proceed</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>
