<div class="main">
    <mat-card class="shadow-lg register-card">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content class="register-content">
            <form novalidate [formGroup]="registerForm" (ngSubmit)="register()">
                <table class="" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Username" formControlName="username" data-e2e="register-username" required>
                            </mat-form-field>
                            <mat-error *ngIf="(registerForm.controls['username'].dirty || registerForm.controls['username'].touched) && registerForm.hasError('required', 'username')">
                                Please enter a username!
                            </mat-error>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Password" type="password" formControlName="password" data-e2e="register-password" required>
                            </mat-form-field>
                            <mat-error *ngIf="(registerForm.controls['password'].dirty || registerForm.controls['password'].touched) && registerForm.hasError('required', 'password')">
                                Please enter a password!
                            </mat-error>
                            <mat-error *ngIf="(!registerForm.hasError('required', 'password') && registerForm.hasError('minlength', 'password'))">
                                Password must have at least 6 Character!
                            </mat-error>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Confirm Password" type="password" formControlName="confirmpassword" data-e2e="register-confirm-password">
                            </mat-form-field>
                            <mat-error *ngIf="(registerForm.controls['confirmpassword'].dirty || registerForm.controls['confirmpassword'].touched) && registerForm.hasError('mustMatch')">
                                Passwords do not match!
                            </mat-error>
                        </td>
                    </tr>
                </table>
                <div class="d-flex justify-content-center">
                    <button class="button" type="submit" mat-raised-button data-e2e="register-button-on-register-site">Register</button>
                </div>
                <mat-spinner *ngIf="loading; else notLoading" class="mx-auto mt-2" [diameter]="30"></mat-spinner>
                <ng-template #notLoading>
                    <div class="mt-2 alert alert-danger" *ngIf="registerErrorMessage">
                        <strong>Failed to register</strong><br>
                        {{registerErrorMessage}}
                    </div>
                </ng-template>
            </form>
        </mat-card-content>
        <mat-card-actions class="register-actions">
            <div class="actions-div button-div btn-group-vertical">
                <table class="mb-4" width="100%">
                    <tr>
                        <td><hr/></td>
                        <td class="divider">Have an Account?</td>
                        <td><hr/></td>
                    </tr>
                </table>
                <button class="button" mat-raised-button routerLink="/login" data-e2e="login-button-on-register-site">Login</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
