<ng-container *ngFor="let message of (messages$ | async) as messages; let i = index; last as isLast; trackBy: trackByMsgId">
    <cchat-chat-message [message]="message"></cchat-chat-message>
    <div *ngIf="isLast || (!isLast && !sameDay(message.timeStamp, messages[i+1]?.timeStamp))" class="date-divider">
        {{message.timeStamp | date}}
    </div>
</ng-container>
