.date-divider {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    background-color: gray;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    opacity: 0.4;
    margin: 1rem auto;
}
