<mat-toolbar>
    <mat-toolbar-row class="toolbar-header">
        <h2 matSubheader>Information</h2>
    </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list>
    <a mat-list-item [disableRipple]="true" class="user" data-e2e="settings-username">
        <mat-icon matListIcon>person</mat-icon>
        {{(localUser$ | async)?.name}}
    </a>
    <a mat-list-item (click)="onPublicKeyClicked()">
        <mat-icon matListIcon>vpn_key</mat-icon>
        Public Key
    </a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-toolbar>
    <mat-toolbar-row class="toolbar-header">
        <h2 matSubheader>Options</h2>
    </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list class="navlist">
    <a mat-list-item (click)="onClearDatabaseClicked()" data-e2e="delete-session">
        <mat-icon matListIcon>delete_forever</mat-icon>
        Delete all local Data
    </a>
    <a mat-list-item (click)="onDeleteAccountClicked()" data-e2e="delete-account">
        <mat-icon matListIcon>delete_forever</mat-icon>
        Delete Account
    </a>
    <a mat-list-item routerLink="/bots" data-e2e="bot-interface" (click)="hideAside()">
        <mat-icon matListIcon>computer</mat-icon>
        Manage bots
    </a>
</mat-nav-list>
