.user:hover {
    background-color: transparent;
}

.user {
    margin: 1rem 0;
}

.toolbar-header {
    background-color: steelblue;
    color: ghostwhite;
}

.navlist {
    width: 270px;
    max-width: 100%;
}
