<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="settingsClicked.next()" data-e2e="settings-button">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-icon class="search">search</mat-icon>
        <form class="formfield">
            <mat-form-field class="w-100">
                <input type="text" placeholder="Search for Users..." [(ngModel)]="name"
                       matInput [formControl]="findUserForm" [matAutocomplete]="auto" data-e2e="friend-search-bar">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="newChat()"
                                  [autoActiveFirstOption]="true">
                    <mat-option *ngFor="let result of results | async" [value]="result.username"
                                data-e2e="friend-search-bar-dropdown">
                        {{result?.username}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </mat-toolbar-row>
</mat-toolbar>
