:host {
    color: white;
}

:host * {
    color: inherit;
}

.mat-toolbar {
    background: steelblue;
}

.mat-elevation-z5 {
    position: relative;
    z-index: 2;
}

.last-online, .chat-started {
    color: ghostwhite;
    line-height: 24px !important;
}

.chat-name {
    line-height: 24px !important;
}

.options-list {
    background-color: white;
}

@media screen and (max-width: 808px) {
    .searchBar {
        height: 2.8rem;
    }
}

.chat-header-data {
    width: 100%;
}

.searchBar {
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    color: steelblue;
    width: 100%;
}

.found-results {
    background: #e0efff;
    color: steelblue;
}
