<mat-toolbar class="mat-elevation-z5">
    <mat-toolbar-row class="d-flex align-content-center">
        <div class="flex-auto" *ngIf="ltMD | async">
            <button mat-icon-button color="white" (click)="backButtonClicked.next()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="position-relative d-flex flex-grow-1">
            <div class="chat-header-data flex-grow-1 row no-gutters" (click)="headerClicked.next()">
                <h1 *ngIf="chat" class="chat-name col-12" data-e2e="chat-header-name">{{chat.name || chat.id}}</h1>
                <small *ngIf="chat && chat.lastOnline" class="last-online col-6">last
                    seen: {{chat.lastOnline | date:'yyyy-LL-dd hh:mm:ss'}}</small>
                <small *ngIf="chat && !searchbar" class="chat-started col-auto ml-auto">Conversation
                    started: {{chat.started | date}}</small>
            </div>
            <div class="position-md-static position-absolute w-100 w-md-auto" *ngIf="searchbar">
                <input class="searchBar" type="text" placeholder="Search for messages..." (keyup.enter)="search()" [(ngModel)]="searchTerm">
            </div>
        </div>
        <button mat-icon-button class="menu-button" (click)="searchbar = (!searchbar); searchTerm = ''">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="menu-button" [mdePopoverTriggerFor]="appPopover">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="searchActive" class="d-flex align-items-center found-results">
    <span *ngIf="foundResults.length == 0" class="ml-2"> No results found.</span>
    <span *ngIf="foundResults.length != 0" class="ml-2"> Found results: {{index+1}}/{{foundResults.length}}</span>
    <button mat-icon-button class="ml-auto" (click)="arrow_up()"><mat-icon>keyboard_arrow_up</mat-icon></button>
    <button mat-icon-button (click)="arrow_down()"><mat-icon>keyboard_arrow_down</mat-icon></button>
    <button mat-icon-button class="close" (click)="closeSearch()"><mat-icon>close</mat-icon></button>
</div>
<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="true"
             mdePopoverTriggerOn="click" mdePopoverArrowColor="transparent">
    <div class="options-list">
        <mat-nav-list>
            <a mat-list-item (click)="hideChatClicked()">
                <mat-icon matListIcon>archive</mat-icon>
                Hide Chat
            </a>
            <a mat-list-item *ngIf="chat?.blocked === false" (click)="blockUser()">
                <mat-icon matListIcon>not_interested</mat-icon>
                Block this User
            </a>
            <a mat-list-item *ngIf="chat?.blocked === true" (click)="blockUser()">
                <mat-icon matListIcon>outlined_flag</mat-icon>
                Unblock this User
            </a>
        </mat-nav-list>

    </div>
</mde-popover>
