<div class="main">
    <mat-card class="shadow-lg login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class="login-content">
            <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Username" formControlName="username" data-e2e="login-username" required>
                            </mat-form-field>
                            <mat-error *ngIf="(loginForm.controls['username'].dirty || loginForm.controls['username'].touched) && loginForm.hasError('required', 'username')">
                                Please enter your username!
                            </mat-error>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput placeholder="Password" formControlName="password" type="password" data-e2e="login-password" required>
                            </mat-form-field>
                            <mat-error *ngIf="(loginForm.controls['password'].dirty || loginForm.controls['password'].touched) && loginForm.hasError('required', 'password')">
                                Please enter your password!
                            </mat-error>
                        </td>
                    </tr>
                </table>
                <div class="d-flex justify-content-center">
                    <button class="button" type="submit" mat-raised-button data-e2e="login-button-on-login-site">Login</button>
                </div>
                <mat-spinner *ngIf="loading; else notLoading" class="mx-auto mt-2" [diameter]="30"></mat-spinner>
                <ng-template #notLoading>
                    <div *ngIf="loginErrorMessage" class="mt-2 alert alert-danger">
                        <strong>Failed to login</strong><br/>
                        {{loginErrorMessage}}
                    </div>
                </ng-template>
            </form>
        </mat-card-content>
        <mat-card-actions class="login-actions">
            <div class="actions-div button-div btn-group-vertical">
                <table class="mb-4" width="100%">
                    <tr>
                        <td><hr/></td>
                        <td class="divider">Need an Account?</td>
                        <td><hr/></td>
                    </tr>
                </table>
                <button class="button" mat-raised-button routerLink="/register" data-e2e="register-button-on-login-site">Register</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
