.login-card{
    width: auto;
    margin: auto;
}

.login-content {
    padding: 2rem 3rem 0 3rem;
}

.main{
    height: 100%;
    display: flex;
    align-items: center;
}

.button {
    background-color: steelblue;
    color: white;
}

.button-div {
    display: flex;
    align-items: center;
}

.actions-div {
    width: 100%;
    margin-bottom: 1rem;
}

.divider {
    width: 1rem;
    padding: 0.5rem 0rem;
    white-space: nowrap;
    color: grey;
}
