<div [className]="message.from ? 'bubble receiver' : 'bubble sender'">
    <div *ngIf="message.mediaType == MEDIA_TYPES.Text">{{message.message}}</div>
    <img *ngIf="message.mediaType == MEDIA_TYPES.Sticker" [src]="message.message" class="stickerImage">
    <span class="time-right">{{message.timeStamp | date : "HH:mm"}}</span>
</div>
