.sender {
   background: #8acaff;
    margin-left: auto;
    max-width: 100%;
}

.receiver {
   background: #e2eaec;
    margin-right: auto;
    max-width: 100%;
}

.bubble {
    border-radius: 10px;
    display: block;
    padding: 15px;
    position: relative;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    overflow-wrap: break-word;
    min-width: 10%;
}

.time-left {
    float: left;
    font-size: 0.7rem;
}

.time-right {
    float: right;
    font-size: 0.7rem;
}

.sender:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 17px solid #8acaff;
    border-right: 17px solid transparent;
    border-top: 17px solid transparent;
    border-bottom: 17px solid #8acaff;
    right: -10px;
    bottom: 0;
    z-index: -1;
}

.receiver:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 17px solid transparent;
    border-right: 17px solid #e2eaec;
    border-top: 17px solid transparent;
    border-bottom: 17px solid #e2eaec;
    left: -10px;
    bottom: 0;
    z-index: -1;
}

:host.highlighted {
    background-color: rgba(138, 202, 255, 0.5);
    transition: background-color 0s;
}

:host {
    display: block;
    padding: 0.1rem 1rem;
    margin: 0.3rem 0;
    transition: background-color 0.4s;
}

.stickerImage {
    max-width: 100%;
    width: 15rem;
}
