.chat-header, .chat-input {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    background: steelblue;
}

.chat-input {
    box-shadow: 0 0 10px 0 rgba(70, 130, 180, 0.4);
}

.chat-header {
    box-shadow: 0 10px 0 0 rgba(70, 130, 180, 0.4);
}

.chat-body {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    background: aliceblue;
    overflow-y: auto;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

