<cchat-chat-header class="chat-header" [chat]="selectedChat$ | async" (headerClicked)="openSettings()" (backButtonClicked)="openAside()">

</cchat-chat-header>
<cchat-chat-body class="chat-body" [chat]="selectedChat$ | async">

</cchat-chat-body>
<cchat-chat-input class="chat-input" [chat]="selectedChat$ | async">

</cchat-chat-input>
