<div class="container">
    <div class="row mt-3 no-gutters">
        <div class="col-12">
            <h3>Added Bots</h3>
        </div>
        <ng-container *ngIf="bots$ | async; let bots; else noBots">
            <ng-container *ngIf="bots.length; else noBots">
                <div class="col-12 col-md-6 col-xl-4 p-0 px-2 pb-2" *ngFor="let bot of bots">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{bot.name}}</mat-card-title>
                            <mat-card-subtitle>{{bot.description}}</mat-card-subtitle>
                            <mat-card-subtitle>Owner: {{bot.ownerName}}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noBots>
            <div class="col-12 text-muted">
                You haven't added any bots yet.<br>
                You can search for bots in the top bar!
            </div>
        </ng-template>
    </div>
</div>
