<mat-dialog-content class="stickerList">
    <ng-container *ngIf="data.stickerPacks | async; let stickerPacks; else noStickers">
        <ol *ngIf="stickerPacks.length; else noStickersFound">
            <li *ngFor="let stickerPack of stickerPacks">
                <h3>
                    {{stickerPack.creator}}/{{stickerPack.name}}
                    <span *ngIf="stickerPack.isOwn">
                        <button mat-icon-button (click)="deleteStickerPack(stickerPack._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </h3>
                <span *ngFor="let sticker of stickerPack.stickers || []" class="stickerInList">
                    <img *ngIf="sticker.data_url"
                         [src]="'/sticker'+sticker.data_url"
                         (click)="sendSticker($event)"
                         class="stickerImage"
                         title="Sticker {{sticker.emoji_id}}">
                </span>
            </li>
        </ol>
    </ng-container>
    <ng-template #noStickers>
        <div>
            Stickerpacks loading ...
        </div>
    </ng-template>
    <ng-template #noStickersFound>
        <div>
            No Stickerpacks available yet.
        </div>
    </ng-template>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="openNewStickerpackDialog()">New Stickerpack</button>
</mat-dialog-actions>

