<mat-drawer-container #nav (backdropClick)="nav.close()" (keydown.escape)="nav.close()" [hasBackdrop]="true">
    <mat-drawer mode="over">
        <cchat-chat-settings></cchat-chat-settings>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container bg-transparent px-0 px-md-3">
            <div class="row chat-container no-gutters">
                <aside class="chat-aside col-12 col-md-4 col-lg-3 bg-primary-light h-100 position-absolute position-md-static" [class.focused]="asideFocused">
                    <router-outlet name="aside" ></router-outlet>
                </aside>
                <main role="main" class="chat-content h-100 col-12 col-md-8 col-lg-9 position-static" [class.focused]="!asideFocused">
                    <router-outlet (activate)="routerActivated()" (deactivate)="routerDeactivated()" ></router-outlet>
                </main>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
