<cchat-chat-list-header class="chat-list-header"
                        (settingsClicked)="openNav()"></cchat-chat-list-header>
<div class="chat-list">
    <div class="list-group" data-e2e="chat-list">
        <button class="list-group-item list-group-item-action"
                [class.active]="chat.id === selectedChatId"
                *ngFor="let chat of chats$ | async; trackBy: trackByChatIdFn" (click)="selectChat(chat.id)"
                data-e2e="chat-list-entry"
        >
            <cchat-chat-list-entry [chat]="chat"
                                   [message]="getLastMessage(chat.id) | async"></cchat-chat-list-entry>
        </button>
    </div>
</div>
