<h1 mat-dialog-title>Add a new friend</h1>
<div mat-dialog-content>
    <p>Do you want to add "{{data.name}}" as a friend?</p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" data-e2e="save-new-chat">Yes</button>
    <button mat-button mat-dialog-close>No</button>
</div>
