<h2 mat-dialog-title>Do you really want to hide the Chat with <b>{{data.name}}</b>?</h2>
<mat-dialog-content>
    This action hides a chat from your chat-list. The data does not get deleted but is only marked as removed.
    It stays invisible until you add the user again to your chat-list.
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button [mat-dialog-close]="true" data-e2e="delete-chat">Yes</button>
</div>
