<ng-container *ngIf="chat$ | async; let chat">
    <h1 mat-dialog-title>{{chat.name || chat.id}}
        <button mat-icon-button mat-dialog-close class="close">
            <mat-icon>close</mat-icon>
        </button>
    </h1>
    <div mat-dialog-content>
        <p>Public key of {{chat.name || chat.id}}:</p>
        <pre>{{(chatPubKey$ | async | pubKey) || 'undefined'}}</pre>
        <div *ngIf="chat.type === directMessage">
            <p>You can also scan the QR-code of your friend to verify their public-key.</p>
            <hr>
            <p *ngIf="chat.verifiedKey !== (chatPubKey$ | async | pubKey)">Not verified yet.</p>
            <p *ngIf="chat.verifiedKey === (chatPubKey$ | async | pubKey)" class="verified">
                <mat-icon>verified_user</mat-icon>
                Verified!
            </p>
            <ngx-zxing-multicode *ngIf="scan" #scanner class="small-video"
                                 [hideDeviceSelector]="true"
                                 (detect)="scanSuccessHandler($event)"
                                 (error)="scanErrorHandler($event)"
            ></ngx-zxing-multicode>
        </div>
    </div>
    <div mat-dialog-actions>
    </div>
    <mat-dialog-actions *ngIf="chat.type === directMessage">
        <button mat-raised-button (click)="onScanClicked()">Scan</button>
    </mat-dialog-actions>
</ng-container>
