<ng-container *ngIf="bot$ | async; let bot">
    <h1 mat-dialog-title>Manage bot "{{bot.name}}"</h1>
    <div mat-dialog-content>

        <form [formGroup]="botOptionsForm">
            <b>Bot options</b>
            <mat-slide-toggle class="w-100" formControlName="isActive" color="primary">Active</mat-slide-toggle>
            <mat-slide-toggle class="w-100" formControlName="isPublic" color="primary">Public</mat-slide-toggle>
        </form>


        <form [formGroup]="testMessageForm" (ngSubmit)="sendTestMessage()" *ngIf="chat$ | async; else notAdded">
            <b>Send a test message</b>
            <mat-form-field class="w-100">
                <input matInput formGroupName="testMessage" placeholder="Enter a test message" formControlName="testMessage">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">Send test message</button>
            <mat-spinner *ngIf="testMessageLoading"></mat-spinner>
            <div class="alert alert-info my-2" *ngIf="sentTestMessage">
                <strong>Sent message</strong>
                <pre>
&#123;
    id: {{sentTestMessage.id | json}},
    type: {{sentTestMessage.type | json}},
    cryptoType: {{sentTestMessage.cryptoType | json}},
    payload: {{sentTestMessage.payload | json}},
    from: {{sentTestMessage.from | json}},
    timestamp: {{sentTestMessage.timestamp | json}}
&#125;
                </pre>
            </div>
            <div class="alert alert-success my-2" *ngIf="receivedTestMessage">
                <strong>Received message</strong>
                <pre>
&#123;
    id: {{receivedTestMessage.id | json}},
    type: {{receivedTestMessage.type | json}},
    cryptoType: {{receivedTestMessage.cryptoType | json}},
    payload: {{receivedTestMessage.payload | json}},
    from: {{receivedTestMessage.from | json}},
    timestamp: {{receivedTestMessage.timestamp | json}}
&#125;
                </pre>
            </div>
            <div class="alert alert-success my-2" *ngIf="receivedTestMessage === null">
                <strong>Decrypted message</strong>
                <pre>
No payload
                </pre>
            </div>
            <div class="alert alert-success my-2" *ngIf="decryptedTestMessage">
                <strong>Decrypted message</strong>
                <pre>
{{decryptedTestMessage}}
                </pre>
            </div>
            <div class="alert alert-danger my-2" *ngIf="testMessageError">
                <strong>An error occured!</strong>
                <pre>
{{testMessageError}}
                </pre>
            </div>
        </form>

        <ng-template #notAdded>
            <div class="w-100">
                You need to first add a bot to you chats before you can send a test message.<br>
                <button mat-raised-button color="primary" type="button" (click)="addBotToChats()">Add to chats</button>
            </div>
        </ng-template>

        <div>
            <button mat-button matDialogClose data-e2e="cancel-register-button">Close</button>
        </div>
    </div>
</ng-container>
