.message-input {
    width: 100%;
    min-height: 2.6rem;
    display: block;
    border-radius: 0.7rem;
    border: none;
    font-size: 1.1rem;
    padding: 0.1rem 1rem;
    padding-left: 5.0rem !important;
    resize: none;
    background: white;
    &:focus {
        outline: none;
    }
}

.send-button {
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
}
.toggle-emoji {
    position: absolute;
    left: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-sticker {
    position: absolute;
    left: 2.8rem;
    top: 50%;
    transform: translateY(-50%);
}

.btn-circle {
    border-radius: 50%;
    padding: 0.2em;
    width:2em;
}
