<mde-popover  #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
        <emoji-mart set="twitter" title="Pick an emoji…" emoji="grin" (emojiSelect)="addEmoji($event)"></emoji-mart>
</mde-popover>
<div class="w-100 p-2 position-relative">
    <div class="message-input py-2 pr-5 pl-5" #inputfield contenteditable="true" (ngModelChange)="shortcode2Emoji($event)"
         [ngModel]="initialVal" (keydown)="onKeyDown($event)"
    data-e2e="message-input">
    </div>
    <button mat-icon-button class="send-button" (click)="sendMessage()" data-e2e="send-message-button">
        <mat-icon>send</mat-icon>
    </button>
    <button mat-icon-button class="toggle-emoji" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="hover">
        <mat-icon>insert_emoticon</mat-icon>
    </button>
    <button mat-icon-button class="toggle-sticker" (click)="openStickerDialog()">
        <mat-icon>star</mat-icon>
    </button>
</div>
