<div class="icon">
    <div class="icon-container">
        <span class="image" [style.background-color]="(chat.name || chat.id) | color | async">{{(chat.name || chat.id) | initials}}</span>
    </div>
</div>
<div class="info">
    <h5 class="name" data-e2e="chat-name">{{chat.name || chat.id}}</h5>
    <div class="last-msg text-muted" *ngIf="message" data-e2e="chat-lastmsg"> {{message.message}} </div>
    <span class="time-right text-muted text-small" *ngIf="message" data-e2e="chat-lastmgs-date">
        {{message.timeStamp | date }}
    </span>
</div>
