<mat-toolbar class="mat-elevation-z5" color="primary">
    <mat-toolbar-row class="justify-content-center">
        <div class="flex-auto" *ngIf="ltMD | async">
            <button mat-icon-button color="white" (click)="backButtonClicked.next()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <form class="col-12 col-sm-11 col-md-8 col-xl-4" [formGroup]="botForm">
            <mat-form-field floatLabel="never" class="w-100">
                <input
                    matInput type="text"
                    placeholder="Search for more bots"
                    [matAutocomplete]="auto"
                    [formControl]="botSearch"
                    data-e2e="bot-search-bar"
                >
            </mat-form-field>

            <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayWithName"
                autoActiveFirstOption
                (optionSelected)="searchBot($event.option.value)"
            >
                <mat-option *ngFor="let bot of bots$ | async" [value]="bot" data-e2e="bot-search-bar-dropdown">{{bot.name}}</mat-option>
            </mat-autocomplete>
        </form>
    </mat-toolbar-row>
</mat-toolbar>
